@charset "utf-8";
/* CSS Document */

.navbar {
	background-color: #323C13 !important; 
}

.jumbotron {
	background-color: #323C13 !important;
}

.nav-link-navbar {
	color: #EDEAE4 !important; 
}

.btn {
	background-color: #FF8B00 !important;
}

.btn:active {
	background-color: #889600 !important;
}

.btn-outline-success {
	border-color: #FF8B00 !important; 
}

.btn-outline-success:active {
	border-color: #FF8B00 !important; 
}

.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/playing-football.svg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brand-name {
	color: #EDEAE4 !important; 
	font-size: 100px !important;
}

.brand-intro {
	color: #EDEAE4 !important;
}

.landing-page {
	background-color: aqua; 
	opacity: 0.5; 
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.about-us {
	color: #323C13; 
}

.card-text {
	font-size: 13px;
}

.carousel-control-next {
	opacity: 0; 
}

.carousel-control-prev {
	opacity: 0; 
}

.feedback-title {
	color: #EDEAE4;
}

.feedback-info {
	color: #EDEAE4;
}

.marketing {
	color:#323C13; 
}

.jumbotron-fluid {
	background-color: #EDEAE4; 
}

.carousel-control-prev {
	opacity: 0 !important;
}

.carousel-control-next {
	opacity: 0 !important;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.subtitle {
	font-size: 20px;
	color: #323C13;
}

.bodytext {
	font-size: 14px;
}

.background {
	background-color: #EDEAE4; 
}

.card-title {
	color:#323C13;
}

.jumbotron {
	background-color: #889600;
}

.form-title {
	color: #FF8B00;
}

.form-info {
	color:  #EDEAE4;
}

.background {
	background-image: url("../images/playing-football.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.form-link:active {
	color:#EDEAE4;
}

.form-link {
	color:#889600;
}

.form-link:hover {
	color:#EDEAE4;
}

.heading {
	color:#323C13;
}

.card-text {
	color:#323C13;
}

.nav-link {
	color:#323C13;
}

.nav-link:hover {
	color:#FF8B00;
}

.nav-link:active {
	color:#FF8B00;
}



