@charset "utf-8";
/* CSS Document */
.navbar {
	background-color:#323C13 !important; 
}

.nav-link {
	color: #EDEAE4 !important; 
}

.btn {
	background-color: #FF8B00 !important;
}

.btn:active {
	background-color: #889600 !important;
}

.btn-outline-success {
	border-color: #FF8B00 !important; 
}

.btn-outline-success:active {
	border-color: #FF8B00 !important; 
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marketing {
	color:#323C13; 
}

.jumbotron-fluid {
	background-color: #EDEAE4; 
}

.carousel-control-prev {
	opacity: 0 !important;
}

.carousel-control-next {
	opacity: 0 !important;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.subtitle {
	font-size: 20px;
	color: #323C13;
}

.bodytext {
	font-size: 14px;
}

.background {
	background-color: #EDEAE4; 
}

.card-title {
	color:#323C13;
}

